/* CSS Reset */
*{
    margin:0px;
    padding:0px;
}
ul{list-style:none;}
/* Base */
body{
    width:100%;
    text-align:center;
    font-size: 62.5%;
    background:#e7e7e2;
    font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
}
header{
    text-align:center;
    width:100%;
    height:75px;
    border-bottom:1px solid #ccc;
    background:#fff;
    text-align:center;
}
.container{
    display:block;
    width:884px;
    margin:auto;
    text-align:left;
}
header img{
    margin-top:15px;
    float:left;
}
header h1{
    font-size:1.8em;
    font-weight:normal;
    padding: 45px 0 0 8px;
    float:left;
}
#mainmenu ul{
    list-style:none;
    float:right;
    padding-top:51px;
}
#mainmenu ul li{
    float:left;
    padding-left:10px;
}
#mainmenu a{
    font-size:1.1em;
    text-decoration:none;
    color:#ff0052;
    text-transform:uppercase;
}
#mainmenu a:hover, #mainmenu a.current{color:#000;}
/* Section */
#images{
    margin-top:50px;
}
#images li{
    float:left;
    height:480px;
    position:relative;
}
.zombie{
    display:block;
    width:325px;
    background:#FFF;
}
.ninja{
    display:block;
    width:269px;
    background:#FFF;
}
.robot{
    display:block;
    width:290px;
    background:#FFF;
}
figcaption{
    display:block;
    background:#000;
    color:#FFF;
    text-align:center;
    padding:2px 0 2px 0;
    height:16px;
    font-size:1.3em;
    bottom:0px;
    width:100%;
    position:absolute;
}
/* Foot */
footer{
    padding-top:30px;
    text-align:center;
}
